/* Imposta lo stile per l'intero body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
    font-family: Arial, sans-serif;
}